<div class="container">

    <h1 class="display-3" id="proposal_head">This is item cards</h1>
  </div>
  <div class="container">
  
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h1><i class="fa-solid fa-plug"></i></h1>
            <h5 class="card-title">Consument</h5>
          </div>
          <a href="/item/consument" class="btn btn-primary stretched-link">Visit</a>
        </div>
      </div>
      <div class="col">
        <div class="card">
  
          <div class="card-body">
            <h1><i class="fa-solid fa-plug"></i></h1>
            <h5 class="card-title">Professional</h5>
          </div>
          <a href="/item/Professional" class="btn btn-primary stretched-link">Visit</a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h1><i class="fa-solid fa-plug"></i></i></h1>
            <h5 class="card-title">Industrieel,Professional & (maatwerk)</h5>
          </div>
          <a href="/item/Industrieel-Professional-maatwerk" class="btn btn-primary stretched-link">Visit</a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h1><i class="fa-solid fa-plug"></i></i></h1>
            <h5 class="card-title">FR-Consument</h5>
          </div>
          <a href="/item/FR-Consument" class="btn btn-primary stretched-link">Visit</a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h1><i class="fa-solid fa-sun"></i></h1>
            <h5 class="card-title">NL-Zonnepanelen</h5>
          </div>
          <a href="/item/NL-Zonnepanelen" class="btn btn-primary stretched-link">Visit</a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h1><i class="fa-solid fa-sun"></i></h1>
            <h5 class="card-title">FR-Panneaux</h5>
          </div>
          <a href="/item/FR-Panneaux" class="btn btn-primary stretched-link">Visit</a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h1><i class="fa-solid fa-battery-full"></i></h1>
            <h5 class="card-title">FR-Thuisbatterji</h5>
          </div>
          <a href="/item/FR-Thuisbatterji" class="btn btn-primary stretched-link">Visit</a>
        </div>
      </div>
    </div>
  </div>