<div class="container">

  <h1 class="display-3" id="proposal_head">
    What do you want to register</h1>
</div>
<div class="container">

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1><i class="fa-solid fa-plus"></i></h1>
          <h5 class="card-title">Order</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <a href="/item/1/Bestelling" class="btn btn-primary stretched-link">Visit</a>
      </div>
    </div>
    <div class="col">
      <div class="card">

        <div class="card-body">
          <h1><i class="fa-solid fa-check"></i></h1>
          <h5 class="card-title">Quotation</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <a href="/item/2/Offerete" class="btn btn-primary stretched-link">Visit</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1><i class="fa-solid fa-calendar"></i></h1>
          <h5 class="card-title">Forms</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <a href="/item/3/Formulieren" class="btn btn-primary stretched-link">Visit</a>
      </div>
    </div>
  </div>
</div>
  
</div>